<div [formGroup]="updateForm" class="grid grid-cols-1 m-5">
  <input
    class="shadow appearance-none border rounded min-w-14 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    formControlName="searchItems"
    (keyup)="onChange($event)"
    type="text"
    placeholder="Search for item"
  />
</div>
@for(item of items; track item.name){
<div
  class="flex items-center justify-between p-3 mb-2 bg-green-100 rounded m-5"
>
  <img [src]="'assets/images/clothing.png'" />
  <div class="flex items-center justify-between w-full ml-2">
    <p>{{ item.name }}</p>
    <p>{{ item.price }}</p>
    <p>{{ item.quantity }}</p>
    <button mat-raised-button>Edit</button>
  </div>
</div>

}
