::ng-deep .mat-tab-body-wrapper {
  flex: 1 1 100%;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.button-wrapper {
  min-height: 50px;
  display: flex;
  > mat-checkbox {
    align-self: center;
  }
}
