<app-appheader></app-appheader>
<div class="container bg-gray-100 dark:bg-dark-main h-screen">
  <!-- MAIN -->
  <div class="flex justify-center">
    <!-- MAIN CONTENT -->
    <div
      class="w-full lg:w-2/3 xl:w-2/5 pt-32 lg:pt-16 px-2 md:mt-0 main-content"
    >
      <div
        class="shadow bg-white dark:bg-dark-second dark:text-dark-txt mt-4 rounded-lg"
      >
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- END MAIN CONTENT -->
  </div>
  <!-- END MAIN -->
</div>
