mat-toolbar {
  display: flex;
  position: fixed;
  /* justify-content: space-between; */
}

.navbar {
  top: 0%;
  width: 100%;
  z-index: 100;
}

.toolbar-row {
  justify-content: space-between;
  flex: 0 1 auto;
}
