<!-- <div class="bg-gray-300 flex justify-center items-center h-screen"> -->
<div class="bg-white p-10 rounded-lg shadow-md">
  <div class="justify-center">
    <h1 class="text-xl font-bold m-auto">Organize</h1>
  </div>
  <div class="mt-4 mb-2 w-full">
    <div class="text-gray-600 w-full">
      <span class="text-md font-semibold mr-14">Items</span>
      <span class="text-md font-semibold mr-14">Quantity</span>
      <span class="text-md font-semibold">Price</span>
    </div>
    <div class="bg-gray-400 w-64 h-1 rounded-lg mt-2 overflow-hidden"></div>
    <div class="max-h-40 overflow-y-auto no-scrollbar">
      <div class="mt-4">
        <span class="text-teal-600 text-md font-semibold mr-14">Trousers </span>
        <span class="text-md font-semibold mr-14">10 </span>
        <span class="text-sm text-gray-600 font-semibold">#4,000</span>
      </div>
      <div class="mt-4">
        <span class="text-teal-600 text-md font-semibold mr-14">Trousers </span>
        <span class="text-md font-semibold mr-14">10 </span>
        <span class="text-sm text-gray-600 font-semibold">#4,000</span>
      </div>
      <div class="mt-4">
        <span class="text-teal-600 text-md font-semibold mr-14">Trousers </span>
        <span class="text-md font-semibold mr-14">10 </span>
        <span class="text-sm text-gray-600 font-semibold">#4,000</span>
      </div>
      <div class="mt-4">
        <span class="text-teal-600 text-md font-semibold mr-14">Trousers </span>
        <span class="text-md font-semibold mr-14">10 </span>
        <span class="text-sm text-gray-600 font-semibold">#4,000</span>
      </div>
      <div class="mt-4">
        <span class="text-teal-600 text-md font-semibold mr-14">Trousers </span>
        <span class="text-md font-semibold mr-14">10 </span>
        <span class="text-sm text-gray-600 font-semibold">#4,000</span>
      </div>
      <div class="mt-4">
        <span class="text-teal-600 text-md font-semibold mr-14">Trousers </span>
        <span class="text-md font-semibold mr-14">10 </span>
        <span class="text-sm text-gray-600 font-semibold">#4,000</span>
      </div>
      <div class="mt-4">
        <span class="text-teal-600 text-md font-semibold mr-14">Trousers </span>
        <span class="text-md font-semibold mr-14">10 </span>
        <span class="text-sm text-gray-600 font-semibold">#4,000</span>
      </div>
      <div class="mt-4">
        <span class="text-teal-600 text-md font-semibold mr-14">Trousers </span>
        <span class="text-md font-semibold mr-14">10 </span>
        <span class="text-sm text-gray-600 font-semibold">#4,000</span>
      </div>
      <div class="mt-4">
        <span class="text-teal-600 text-md font-semibold mr-14">Trousers </span>
        <span class="text-md font-semibold mr-14">10 </span>
        <span class="text-sm text-gray-600 font-semibold">#4,000</span>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 mb-4">
    <button
      class="bg-orange-400 py-3 px-8 mt-4 rounded w-full text-sm font-semibold hover:bg-opacity-75"
    >
      Negotiate
    </button>
  </div>
  <div class="grid grid-cols-1 mb-2">
    <input
      class="shadow appearance-none border rounded min-w-14 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="username"
      type="text"
      placeholder="Username"
    />
  </div>
  <div class="grid grid-cols-1 mb-2">
    <button
      class="bg-green-400 py-3 px-8 mt-4 rounded w-full text-sm font-semibold hover:bg-opacity-75"
    >
      Sell
    </button>
  </div>
  <!-- <h3 class="text-xs uppercase">Current lesson:</h3>
      <h2 class="tracking-wide">
        Object in JavaScript
        <br />
        (Challenge)
      </h2> -->
</div>
<!-- </div> -->
